services:
    postgres:
        image: postgres:17
        container_name: express_class_template_postgres
        restart: unless-stopped
        environment:
            POSTGRES_USER: fiamanillah
            POSTGRES_PASSWORD: fiamanillah
            POSTGRES_DB: express_class_template_db
        ports:
            - '5435:5432'
        volumes:
            - express_class_template_data:/var/lib/postgresql/data
        networks:
            - express_class_template_network

    redis:
        image: redis:7-alpine
        container_name: express_class_template_redis
        restart: unless-stopped
        command: redis-server --requirepass ${REDIS_PASSWORD:-fiamanillah}
        ports:
            - '6380:6379'
        volumes:
            - express_class_template_redis_data:/data
        networks:
            - express_class_template_network

networks:
    express_class_template_network:
        driver: bridge
        name: express_class_template_network

volumes:
    express_class_template_data:
        driver: local
        name: express_class_template_data
    express_class_template_redis_data:
        driver: local
        name: express_class_template_redis_data
